/**
 * Colors
 */
$color-white: #FFF;
$color-primary: #FBFF26;
$color-secondary: #FF6A8F;
$color-tertiary: #F1F2EB;
$color-tertiary-2: #B4B4B4;
$color-tertiary-3: #979797;
$color-tertiary-4: #5A5A5A;
$color-tertiary-5: #393939;
