/* Base */
/**
 * Reset
 */
html, body, div, span, applet, object, iframe,
h1, h2, article h3, .title, .logo, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/**
 * Colors
 */
/**
 * Queries
 */
/**
 * Grid
 */
/**
 * Fonts
 */
@font-face {
  font-family: BokBokIcons;
  src: url("../../assets/fonts/bok-bok-icon.eot"), url("../../assets/fonts/bok-bok-icon.woff") format("woff"), url("../../assets/fonts/bok-bok-icon.ttf") format("truetype"), url("../../assets/fonts/bok-bok-icon.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* Components */
/**
 * Buttons
 */
.button-ghost, .button-main {
  border: 1px solid #393939;
  box-sizing: border-box;
  color: #FFF;
  display: block;
  cursor: pointer;
  font-size: 1.3rem;
  line-height: 4.8rem;
  font-weight: 700;
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  transition: 0.1s background-color linear, 0.1s color linear;
  text-decoration: none;
  margin: 24px 0;
}

.button-main {
  background-color: #393939;
  margin: 16px 0;
}
.button-main:hover {
  background-color: #FFF;
  color: #393939;
}
.button-main:active {
  background-color: #FFF;
  border-color: #B4B4B4;
  color: #B4B4B4;
}

.button-ghost {
  background-color: transparent;
  color: #393939;
}
.button-ghost:hover {
  border-color: #979797;
  color: #979797;
}
.button-ghost:active {
  border-color: #5A5A5A;
  color: #5A5A5A;
}

.button-link {
  font-size: 1.2rem;
  line-height: 2rem;
  text-transform: uppercase;
  color: #393939;
  font-weight: 700;
  display: block;
  float: left;
}
.button-link:hover {
  color: #979797;
}
.button-link:after {
  content: " >";
}

/**
 * Custom
 */
@media only screen and (min-width: 400px) {
  .button-main, .button-ghost {
    max-width: 328px;
  }
}
/**
 * Desktop
 */
@media only screen and (min-width: 1024px) {
  .button-main, .button-ghost {
    max-width: 278px;
    line-height: 5.6rem;
    font-size: 1.6rem;
  }

  .button-link {
    font-size: 1.4rem;
    line-height: 2.4rem;
  }
}
/**
 * HD
 */
@media only screen and (min-width: 1600px) {
  .button-link {
    font-size: 1.6rem;
  }
}
/**
 * Typography
 */
strong {
  font-weight: 700;
}

h1 {
  font-size: 5.4rem;
  line-height: 6.4rem;
  font-family: "Playfair Display", serif;
  font-weight: 700;
}

h2, article h3, .title, .logo {
  font-size: 3rem;
  line-height: 4rem;
  font-family: "Playfair Display", serif;
  font-weight: 700;
  text-transform: lowercase;
  margin-bottom: 16px;
}
h2::before, article h3::before, .title::before, .logo::before {
  content: "";
  background: url("../../assets/media/h2.svg") no-repeat;
  background-size: auto;
  display: block;
  border-radius: 3px;
  width: 24px;
  height: 6px;
  float: left;
  margin: 20px 16px 0 0;
}

h3 {
  font-size: 2rem;
  line-height: 3.2rem;
  font-weight: 700;
  letter-spacing: 0.278rem;
}

h4 {
  font-size: 1.4rem;
  line-height: 2.4rem;
  font-weight: 700;
}

.text-small, .footer-wrapper .title-goodbye, .work-details p {
  font-size: 1.1rem;
  line-height: 1.6rem;
}

/**
 * Desktop
 */
@media only screen and (min-width: 1024px) {
  h1 {
    font-size: 8.1rem;
    line-height: 9.6rem;
  }

  h2, article h3, .title, .logo {
    font-size: 3.6rem;
    line-height: 4.8rem;
  }
  h2::before, article h3::before, .title::before, .logo::before {
    width: calc(((100% - 440px) / 12) * 1 + 0px);
    margin-right: 40px;
    margin-top: 26px;
  }

  h3 {
    font-size: 2.4rem;
    line-height: 3.2rem;
    letter-spacing: 0.333rem;
  }

  h4 {
    font-size: 1.6rem;
    line-height: 2.4rem;
  }

  .text-small, .footer-wrapper .title-goodbye, .work-details p {
    font-size: 1.1rem;
  }
}
/**
 * HD
 */
@media only screen and (min-width: 1600px) {
  h1 {
    font-size: 12.2rem;
    line-height: 16.8rem;
  }

  .text-small, .footer-wrapper .title-goodbye, .work-details p {
    font-size: 1.2rem;
  }

  h2, article h3, .title, .logo {
    font-size: 5.4rem;
    line-height: 8rem;
  }
  h2::before, article h3::before, .title::before, .logo::before {
    margin-top: 46px;
  }

  h3 {
    font-size: 3.6rem;
    line-height: 4.8rem;
    letter-spacing: 0.5rem;
  }

  h4 {
    font-size: 2.4rem;
    line-height: 4rem;
  }

  .text-small, .footer-wrapper .title-goodbye, .work-details p {
    font-size: 1.2rem;
  }
}
/* Layout */
/**
 * Base
 */
* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  font-size: 10px;
  -webkit-text-size-adjust: 100%;
}

body {
  background-color: #FFF;
  font-family: "Karla", sans-serif;
  font-size: 1.3rem;
  line-height: 2.4rem;
  font-weight: 400;
  color: #393939;
}

.body-wrapper {
  overflow-x: hidden;
}

.container, header .top {
  padding: 0 16px;
  max-width: calc(1350px - 48px);
  margin: 0 auto;
}
.container > :last-child, header .top > :last-child {
  margin-bottom: 0;
}

section {
  clear: both;
  padding-top: 56px;
  float: left;
  width: 100%;
}
section p.intro {
  margin-left: 40px;
}

.logo {
  width: 32px;
  height: 32px;
  display: block;
  background: url("../../assets/media/logo.svg") no-repeat;
  background-size: 100%;
}
.logo span {
  display: none;
}
.logo:before {
  display: none;
}

.more {
  clear: both;
}
.more .button-ghost {
  margin-bottom: 0;
}

.title {
  color: #FFF;
  font-weight: 900;
  text-transform: none;
  letter-spacing: normal;
  margin-bottom: 8px;
}
.title:before {
  display: none;
}

.menu a {
  color: #FFF;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
}
.menu a:hover {
  color: #393939;
}

.social {
  clear: both;
  margin-top: 4px;
}
.social li {
  display: inline-block;
  margin-left: 24px;
}
.social li:first-child {
  margin-left: 0;
}
.social a {
  color: #FFF;
  text-decoration: none;
  font-family: "BokBokIcons";
  color: #FFF;
  text-decoration: none;
  font-family: "BokBokIcons";
  line-height: 2.2rem;
  font-size: 2rem;
  vertical-align: middle;
}
.social a:hover {
  color: #393939;
}
.social span {
  display: none;
}

.full-width, .footer-wrapper, .work-screen-wrapper {
  width: 100vw;
  position: relative;
  margin-left: -50vw;
  left: 50%;
}

/**
 * Mini Tablet
 */
@media only screen and (min-width: 400px) {
  .container, header .top {
    padding: 0 24px;
  }
}
/**
 * Tablet
 */
@media only screen and (min-width: 700px) {
  .more p {
    width: 75%;
  }
}
/**
 * Desktop
 */
@media only screen and (min-width: 1024px) {
  body {
    font-size: 1.4rem;
    line-height: 2.4rem;
  }

  section {
    padding: 120px 0 36px;
  }
  section .intro {
    width: calc(((100% - 440px) / 12) * 10 + 360px);
    margin: 0 auto;
  }
  section .intro p {
    width: 75%;
  }

  .more {
    width: calc(((100% - 440px) / 12) * 10 + 360px);
    margin: 0 auto;
  }
}
/**
 * HD
 */
@media only screen and (min-width: 1600px) {
  body {
    font-size: 1.6rem;
    line-height: 2.8rem;
  }

  .container, header .top {
    padding: 0 32px;
  }
}
/**
 * Header
 */
header .top {
  position: absolute;
  padding: 0 24px;
  top: 0;
}
header .header-container {
  position: relative;
}
header .header-container:before {
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
  top: -82px;
  left: -120px;
  width: 457px;
  height: 100%;
  background: url(../../assets/media/background-1.svg) no-repeat;
  background-position: top right;
  background-size: 100% auto;
  transition: background 0.2s ease-in-out;
}
header .header-wrapper {
  padding-top: 96px;
}
header .header-top-wrapper {
  position: relative;
  margin-left: 8px;
  height: 172px;
}
header .header-top-wrapper:before {
  content: "";
  display: block;
  position: absolute;
  /* top: 124px; */
  bottom: 10px;
  right: -16px;
  background: url(../../assets/media/conco-mobile.jpg) no-repeat;
  background-position: bottom right;
  background-size: contain;
  width: 53%;
  height: 150%;
  max-height: 209px;
  z-index: -2;
}
header .title-desc {
  margin-top: 24px;
}
header .logo {
  padding: 32px 0;
  margin: 0;
  background-origin: content-box;
}
header h1 {
  color: #FFF;
  text-transform: lowercase;
  font-weight: 900;
}
header h1 span:before {
  content: "\a";
  white-space: pre;
}
header .explanation {
  font-weight: 700;
  padding-top: 24px;
}
header .button-main {
  margin-bottom: 0;
}

/**
 * Navigation
 */
#menu-open, #menu-close {
  background: url("../../assets/media/menu.svg") no-repeat;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-size: auto;
  cursor: pointer;
  display: block;
  width: 40px;
  height: 40px;
}
#menu-open::selection, #menu-close::selection {
  background: none;
}

#menu-open {
  position: fixed;
  right: 24px;
  top: 24px;
  z-index: 1;
}
#menu-open span {
  display: none;
}

#menu-close {
  background-position: 100% 0;
  float: right;
}
#menu-close span {
  display: none;
}

nav {
  background-color: #393939;
  position: fixed;
  z-index: 100;
  width: 0;
  height: 100vh;
  right: 0;
  top: 0;
  overflow: hidden;
  transition: all 0.2s ease-in-out;
}
nav.fixed .nav-inner {
  padding: 24px;
  transition: all 0.2s ease-in-out;
}
nav.fixed .social a {
  color: #FFF;
}
nav.fixed .social a:hover {
  color: #B4B4B4;
}
nav.fixed .menu a:hover {
  color: #B4B4B4;
}
nav .logo {
  background: none;
  width: auto;
  text-decoration: none;
  float: left;
  padding: 0;
}
nav .logo span {
  display: block;
  color: #FFF;
  font-weight: 900;
  text-transform: none;
  letter-spacing: normal;
  margin-bottom: 8px;
}
nav .nav-inner {
  position: relative;
  width: 100vw;
  height: 100%;
  padding: 24px;
  box-sizing: border-box;
}
nav.active {
  width: 100vw;
}
nav .title {
  float: left;
}
nav .social {
  float: right;
  clear: both;
}
nav .social a:hover {
  color: #979797;
}
nav .menu {
  width: 100%;
  float: right;
  border-bottom: 1px solid white;
  margin: 40px 0 24px;
}
nav .menu li {
  float: right;
  clear: right;
  margin-bottom: 24px;
}
nav .menu a:hover {
  color: #393939;
}

#nav-overlay {
  background: white;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  position: fixed;
  opacity: 0;
  visibility: hidden;
  z-index: 99;
  transition: visibility 0.2s ease-in-out;
}
#nav-overlay.active {
  visibility: visible;
  opacity: 0.85;
}

/**
 * Mini Tablet
 */
@media only screen and (min-width: 400px) {
  header .top {
    padding: 0 32px;
  }
  header .header-container:before {
    width: 489px;
    height: 376px;
    top: -92px;
  }
  header .header-top-wrapper {
    height: 180px;
  }
  header .header-top-wrapper:before {
    right: -24px;
  }
}
/**
 * Tablet
 */
@media only screen and (min-width: 700px) {
  header .header-container:before {
    width: 451px;
    height: 347px;
    top: -82px;
    left: -26px;
  }
  header .header-top-wrapper:before {
    top: 0;
    bottom: 0;
    background: url(../../assets/media/conco-tablet.jpg) no-repeat;
    background-position: center right;
    background-size: contain;
    width: 60%;
    height: 500%;
    max-height: 300px;
    margin: auto;
  }
  header h1 span:before {
    display: none;
  }

  #menu-open, #menu-close {
    top: 48px;
  }

  nav.active, nav .nav-inner {
    width: 360px;
  }
}
/**
 * Desktop
 */
@media only screen and (min-width: 1024px) {
  header {
    margin-bottom: 80px;
  }
  header .header-container {
    min-height: 620px;
  }
  header .header-container:before {
    width: 1068px;
    height: 818px;
    top: -198px;
    left: -180px;
  }
  header .header-wrapper {
    width: calc(100% - 56px);
    padding-top: 180px;
    margin: 0 auto;
  }
  header .header-top-wrapper {
    margin-left: 0;
    height: auto;
    position: static;
  }
  header .header-top-wrapper:before {
    background: url(../../assets/media/conco-hd.jpg) no-repeat;
    background-position: bottom right;
    background-size: contain;
    width: 60%;
    max-height: 710px;
    height: 100%;
    top: auto;
    bottom: -110px;
  }
  header .logo {
    display: none;
  }
  header .title-desc {
    margin-top: 32px;
    width: 540px;
  }
  header .title-desc p {
    color: #FFF;
  }
  header .button-main {
    border: none;
    line-height: 5rem;
  }
  header .explanation {
    padding-top: 32px;
  }

  #menu-open, #menu-close {
    display: none;
  }

  nav {
    width: 100%;
    height: auto;
    background: none;
    padding: 0 24px;
    box-sizing: border-box;
  }
  nav.fixed {
    background-color: rgba(57, 57, 57, 0.8);
  }
  nav .nav-inner {
    padding: 56px 0;
    width: calc(100% - 56px);
    max-width: calc(1350px - 106px);
    margin: 0 auto;
    overflow: hidden;
    box-sizing: unset;
  }
  nav .logo {
    background: url(../../assets/media/logo.svg) no-repeat;
    background-size: 100%;
    display: block;
    width: 32px;
    margin: 0;
  }
  nav .logo span {
    display: none;
  }
  nav .title {
    width: 46px;
    height: 44px;
    display: block;
    background-image: url("../../assets/media/logo.png");
    margin: 0;
    float: left;
  }
  nav .title span {
    display: none;
  }
  nav .menu {
    float: left;
    margin: 4px 0 0;
    border: none;
    width: auto;
  }
  nav .menu li {
    float: left;
    margin: 0 0 0 40px;
  }
  nav .menu a {
    font-size: 1.4rem;
    line-height: 2.4rem;
  }
  nav .social {
    clear: none;
  }
  nav .social a {
    color: #393939;
  }
}
/**
 * Strictly desktop
 */
@media only screen and (min-width: 1024px) and (max-width: 1599px) {
  nav.fixed .nav-inner {
    padding: 20px 24px;
  }
  nav.fixed .logo {
    width: 24px;
    height: 24px;
  }
  nav.fixed .menu {
    margin: 0;
  }
  nav.fixed .menu a {
    display: inline-block;
  }
  nav.fixed .social {
    margin: 0;
  }
  nav.fixed .social a {
    font-size: 1.6rem;
  }
}
/**
 * HD
 */
@media only screen and (min-width: 1600px) {
  header .header-container {
    min-height: 763px;
  }
  header .header-container:before {
    width: 1315px;
    height: 1007px;
    top: -244px;
    left: -180px;
  }
  header .header-wrapper {
    padding-top: 195px;
  }
  header .header-top-wrapper:before {
    max-width: 1160px;
    left: 645px;
    right: auto;
    bottom: -170px;
    height: 40vw;
    width: 55vw;
  }
  header .title-desc {
    width: 620px;
  }

  nav {
    padding: 0 32px;
  }
  nav .nav-inner {
    width: calc(100% - 56px);
    padding: 64px 0;
  }
  nav .menu a {
    font-size: 1.6rem;
  }

  .social a {
    font-size: 2.4rem;
    line-height: 2.8rem;
  }
}
/**
 * Timeline
 */
.timeline-container {
  position: relative;
  margin: 40px 0;
  float: left;
  width: 100%;
}
.timeline-container ul {
  box-sizing: border-box;
  width: 100%;
}
.timeline-container li {
  position: relative;
  padding: 6px 0 0 40px;
  margin-top: 32px;
}
.timeline-container li:before {
  content: "";
  display: block;
  width: 32px;
  height: 32px;
  background: url("../../assets/media/timeline-point.svg") no-repeat;
  position: absolute;
  left: 0;
  top: 0;
}
.timeline-container li:first-child {
  margin-top: 0;
}
.timeline-container li:last-child:before {
  height: 100%;
  background-color: white;
}
.timeline-container .info {
  margin-top: 16px;
  overflow: hidden;
}
.timeline-container h4 {
  margin: 8px 0;
}

.timeline {
  background-image: linear-gradient(#FBFF26, #FF6A8F);
  width: 4px;
  height: 100%;
  position: absolute;
  margin: 0 14px;
}

.groups {
  display: none;
}

.tag {
  text-transform: uppercase;
  color: #FFF;
  line-height: 24px;
  font-weight: 700;
  display: inline-block;
  padding: 0 8px;
  border-radius: 12px;
  font-size: 10px;
  position: absolute;
  top: 4px;
  right: 0;
}
.tag.tag-award {
  background-color: #393939;
}
.tag.tag-community {
  background-color: #FF6A8F;
}
.tag.tag-certificate {
  background-color: #FBFF26;
  color: #393939;
}

.location {
  margin-bottom: 8px;
}

/**
 * Tablet
 */
@media only screen and (min-width: 700px) {
  .timeline-container {
    margin-top: 60px;
    margin-bottom: 0;
  }
  .timeline-container li {
    width: 50%;
    float: left;
    margin: 0;
    padding: 0;
    clear: both;
  }
  .timeline-container li.timeline-space {
    margin-top: 56px;
  }
  .timeline-container li .time {
    float: right;
    width: 80px;
    margin-right: 24px;
    margin-top: 6px;
    text-align: right;
  }
  .timeline-container li .info {
    float: left;
    margin: 0;
    width: calc(100% - 118px);
    text-align: right;
    position: relative;
    top: -19px;
  }
  .timeline-container .left:before {
    left: auto;
    right: -16px;
  }
  .timeline-container .right {
    float: right;
  }
  .timeline-container .right:before {
    left: -16px;
  }
  .timeline-container .right .time {
    margin-right: 0;
    margin-left: 24px;
  }
  .timeline-container .right .info {
    top: -52px;
  }
  .timeline-container .right .time, .timeline-container .right .info {
    text-align: left;
    float: left;
  }
  .timeline-container .right .tag {
    position: static;
    margin-bottom: 8px;
  }

  .timeline {
    left: 50%;
    margin: 0 0 0 -2px;
  }
}
/**
 * Desktop
 */
@media only screen and (min-width: 1024px) {
  .timeline-container {
    margin: 107px 0 20px;
  }
  .timeline-container ul {
    width: calc(((100% - 440px) / 12) * 10 + 360px);
    margin: 0 auto;
  }
  .timeline-container li .info {
    top: -27px;
  }
  .timeline-container .right .info {
    top: -63px;
  }
  .timeline-container .right .tag {
    margin-bottom: 12px;
  }

  .groups {
    display: block;
  }

  .work-group, .other-group {
    width: 400px;
    position: absolute;
    top: 200px;
    left: -188px;
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
    text-transform: uppercase;
    color: #B4B4B4;
    font-size: 1.4rem;
    line-height: 2.4rem;
    letter-spacing: 0.35rem;
    text-align: right;
  }

  .other-group {
    right: -188px;
    left: auto;
  }
}
/**
 * HD
 */
@media only screen and (min-width: 1600px) {
  .work-group, .other-group {
    font-size: 1.6rem;
  }

  .timeline-container {
    margin: 126px 0 20px;
  }
  .timeline-container li .time {
    width: 100px;
  }
  .timeline-container li .info {
    width: calc(100% - 132px);
    top: -46px;
  }
  .timeline-container .right .info {
    top: -84px;
  }
  .timeline-container h4 {
    margin: 16px 0;
  }

  .location {
    margin-bottom: 16px;
  }
}
/**
 * Work
 */
.work {
  margin-top: 40px;
  margin-bottom: 40px;
  float: left;
  position: relative;
}
.work .type {
  float: left;
}
.work .duration {
  float: right;
}
.work .desc {
  margin: 16px 0 24px 0;
}
.work h3 {
  text-transform: uppercase;
  margin: 16px 0;
  float: left;
  width: 100%;
}
.work img {
  width: 100%;
  height: auto;
  max-width: 542px;
  float: left;
}

.work-details p {
  padding-bottom: 4px;
}
.work-details p:last-child {
  padding-bottom: 0;
}

.work-screen {
  float: left;
  position: relative;
}

.shape-back {
  width: 130%;
  height: 100%;
  margin-left: -65%;
  position: absolute;
  z-index: -1;
  top: 0;
  left: -16px;
}

.work-right img {
  float: right;
}
.work-right .work-screen {
  float: right;
}
.work-right .shape-back {
  left: auto;
  right: -80px;
  margin-left: 0;
  margin-right: -50%;
}

/**
 * Shapes
 */
.shape-circle-left .work-screen {
  padding: 60px 0 40px;
  margin: -20px 0 0;
}
.shape-circle-left img {
  width: 95%;
  max-width: 460px;
}
.shape-circle-left .shape-back {
  background: url(../../assets/media/background-2.svg) no-repeat;
  background-position: center;
  background-size: auto 100%;
}

.shape-square .work-screen {
  padding: 100px 0 140px;
  margin: -140px 0;
}
.shape-square img {
  margin: 20px -20px 0 0;
  width: 100%;
  max-width: 480px;
}
.shape-square .shape-back {
  background: url(../../assets/media/background-3.svg) no-repeat;
  background-position: center;
  background-size: auto 100%;
  width: 150%;
  margin-right: -75%;
  right: -16px;
}

.shape-line .work-screen {
  padding: 40px 0 120px;
  margin: -40px 0 -120px;
}
.shape-line img {
  width: 105%;
  margin-left: -25px;
  max-width: 562px;
}
.shape-line .shape-back {
  background: url(../../assets/media/background-4.svg) no-repeat;
  background-position: top right;
  background-size: contain;
  margin-left: -100%;
  width: 200%;
  height: 200%;
}

.shape-circle-right .work-screen {
  padding: 60px 0 10px;
  margin: -70px 0 -10px;
}
.shape-circle-right img {
  width: 110%;
  margin-right: -10px;
}
.shape-circle-right .shape-back {
  background: url(../../assets/media/background-2.svg) no-repeat;
  background-position: center;
  background-size: auto 100%;
}

.work-info {
  clear: both;
}

/**
 * Mini Tablet
 */
@media only screen and (min-width: 400px) {
  .shape-back {
    left: -24px;
  }

  .work-right .shape-back {
    right: -24px;
  }
}
/**
 * Tablet
 */
@media only screen and (min-width: 700px) {
  .work {
    display: flex;
    align-items: center;
  }

  .work-screen, .work-info {
    width: calc(100% / 2 - 20px);
  }

  .work-screen {
    margin-right: 40px;
  }

  .work-info {
    clear: none;
    margin-left: 40px;
    margin-right: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .work-right {
    flex-direction: row-reverse;
  }
  .work-right .work-screen {
    margin-right: 0;
  }
  .work-right .work-info {
    margin-right: 40px;
    margin-left: 0;
  }
  .work-right .shape-back {
    left: auto;
    margin-left: auto;
    margin-right: -50%;
  }

  .shape-circle-left img {
    width: 120%;
    margin-left: 0;
    margin-right: 29px;
    margin-top: 25px;
    max-width: 666px;
    float: right;
  }

  .shape-square img {
    width: 120%;
    max-width: 700px;
  }
  .shape-square .shape-back {
    margin-right: -80%;
  }

  .shape-line img {
    width: 140%;
    max-width: 820px;
    margin: 25px 20px 0 0;
    float: right;
  }

  .shape-circle-right img {
    max-width: 700px;
  }
}
/**
 * Desktop
 */
@media only screen and (min-width: 1024px) {
  .work h3 {
    margin: 24px 0;
  }
  .work .desc {
    margin: 24px 0 40px 0;
  }

  .work-screen {
    width: calc(((100% - 440px) / 12) * 7 + 240px);
  }

  .work-info {
    margin-right: calc(((100% - 440px) / 12) * 1 + 40px);
    width: 40%;
  }

  .work-right .work-info {
    margin-left: calc(((100% - 440px) / 12) * 1 + 40px);
    width: 40%;
  }

  .shape-circle-left img {
    max-width: 700px;
  }
}
/**
 * HD
 */
@media only screen and (min-width: 1600px) {
  .work h3 {
    margin: 32px 0;
  }
  .work .desc {
    margin-top: 32px;
  }

  .shape-back {
    left: -32px;
  }

  .work-right .shape-back {
    right: -32px;
  }

  .work-left .work-info-wrapper {
    width: 80%;
  }

  .shape-circle-left img {
    max-width: none;
    width: 880px;
    margin-right: 125px;
  }
  .shape-circle-left .work-screen {
    width: calc(((100% - 440px) / 12) * 6 + 200px);
  }
  .shape-circle-left .shape-back {
    width: 696px;
    height: 696px;
    top: 0;
    bottom: 0;
    margin: auto 0 auto -90%;
  }

  .shape-square .work-screen {
    width: calc(((100% - 440px) / 12) * 6 + 200px);
  }
  .shape-square .work-info-wrapper {
    float: right;
  }
  .shape-square img {
    max-width: 880px;
    width: 200%;
    margin-right: -220px;
  }
  .shape-square .shape-back {
    width: 240%;
    height: 150%;
    top: 0;
    bottom: 0;
    margin: auto;
    margin-right: -120%;
    right: -380px;
  }
  .shape-square:before {
    content: "";
    position: absolute;
    width: 568px;
    height: 349px;
    background: url("../../assets/projects/ux-side-hd.png") no-repeat;
    background-size: contain;
    left: -580px;
  }

  .shape-line .work-screen {
    width: calc(((100% - 440px) / 12) * 6 + 200px);
  }
  .shape-line .shape-back {
    left: 50px;
  }
  .shape-line .work-info {
    margin-left: 0;
  }
  .shape-line img {
    max-width: 1078px;
    width: 200%;
    margin-right: 95px;
  }

  .shape-circle-right img {
    max-width: 900px;
    width: 200%;
    margin-right: -180px;
  }
  .shape-circle-right .shape-back {
    right: -240px;
    height: 85%;
  }
  .shape-circle-right .work-screen {
    width: calc(((100% - 440px) / 12) * 6 + 200px);
    margin: -60px 0 -10px;
  }
  .shape-circle-right .work-info-wrapper {
    width: 90%;
  }
  .shape-circle-right:before {
    content: "";
    position: absolute;
    width: 402px;
    height: 370px;
    background: url("../../assets/projects/brand-side-hd.png") no-repeat;
    background-size: contain;
    left: -380px;
  }
}
/**
 * Quotes
 */
blockquote {
  margin-bottom: 24px;
}
blockquote .quote {
  position: relative;
  padding: 0 56px;
  margin: 40px 0;
}
blockquote .quote:before, blockquote .quote:after {
  background: url("../../assets/media/quote.svg") no-repeat;
  background-size: 100%;
  content: "";
  width: 40px;
  height: 28px;
  display: block;
  position: absolute;
  left: 0;
  top: -16px;
}
blockquote .quote:after {
  left: auto;
  right: 0;
  top: auto;
  bottom: -16px;
  transform: rotate(180deg);
}
blockquote footer {
  padding-top: 0;
}
blockquote .author {
  float: right;
  margin-right: 56px;
}
blockquote .author > * {
  float: right;
  clear: both;
}
blockquote h3 {
  text-transform: uppercase;
  padding-bottom: 8px;
}

/**
 * Tablet
 */
@media only screen and (min-width: 700px) {
  blockquote {
    margin: 0 40px;
  }
}
/**
 * Desktop
 */
@media only screen and (min-width: 1024px) {
  blockquote {
    width: calc(((100% - 440px) / 12) * 10 + 360px);
    margin: 0 auto;
  }
  blockquote .quote {
    font-size: 1.6rem;
    line-height: 3.2rem;
    padding: 0 106px;
    margin: 104px 0 48px;
  }
  blockquote .quote:before, blockquote .quote:after {
    width: 80px;
    height: 56px;
    top: -40px;
  }
  blockquote .quote:after {
    top: auto;
    bottom: -40px;
  }
  blockquote .author {
    margin-right: 106px;
  }
}
/**
 * HD
 */
@media only screen and (min-width: 1600px) {
  blockquote {
    width: 100%;
  }
  blockquote .quote {
    font-size: 2.4rem;
    line-height: 4.4rem;
    padding: 0 112px;
  }
  blockquote .quote:before, blockquote .quote:after {
    width: 92px;
    height: 64px;
    top: -60px;
  }
  blockquote .quote:after {
    top: auto;
    bottom: -60px;
  }
  blockquote h3 {
    font-size: 3.6rem;
    line-height: 4.8rem;
  }
  blockquote .author {
    margin-right: 112px;
    margin-top: 0;
  }
}
/**
 * Articles
 */
.featured-article {
  background-color: #FBFBFB;
  box-sizing: border-box;
  margin-bottom: 24px;
  padding: 16px;
  float: left;
}

.article-wrapper {
  margin-top: 24px;
}

article h3 {
  text-transform: none;
  letter-spacing: normal;
}
article h3:before {
  display: none;
}
article h3 a {
  text-decoration: none;
  color: inherit;
}
article h3 a:hover {
  color: #979797;
}
article .article-intro {
  margin: 16px 0;
  overflow: hidden;
  height: 7.2rem;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.article-list {
  clear: both;
}
.article-list h4 a {
  text-decoration: none;
  color: inherit;
}
.article-list h4 a:hover {
  color: #979797;
}
.article-list li:not(:first-child):before {
  content: "";
  display: block;
  background-color: red;
  margin: 24px 0;
  height: 1px;
  width: 50%;
}

/**
 * Mini Tablet
 */
@media only screen and (min-width: 400px) {
  .featured-article {
    padding: 24px;
  }
}
/**
 * Tablet
 */
@media only screen and (min-width: 700px) {
  .article-list li:not(:first-child):before {
    width: 25%;
  }

  article .article-intro {
    -webkit-line-clamp: unset;
    height: auto;
  }
}
/**
 * Desktop
 */
@media only screen and (min-width: 1024px) {
  .featured-article {
    width: calc(((100% - 440px) / 12) * 5 + 160px);
    margin-right: 40px;
    margin-left: calc(((100% - 440px) / 12) * 1 + 40px);
    left: 0;
    float: left;
  }

  .article-wrapper {
    display: flex;
    margin: 50px 0;
  }

  .article-list {
    float: left;
    width: calc(((100% - 440px) / 12) * 5 + 160px);
    margin-right: 40px;
  }

  .article-list h3 {
    font-size: 1.6rem;
    line-height: 2.4rem;
    margin-bottom: 0;
  }
  .article-list .article-intro {
    margin: 8px 0 24px;
  }
  .article-list li:not(:first-child):before {
    margin: 24px 0 32px;
  }
}
/**
 * HD
 */
@media only screen and (min-width: 1600px) {
  .featured-article {
    margin: 0;
    padding: 48px;
    width: calc(((100% - 440px) / 12) * 6 + 200px);
    margin-right: 40px;
  }

  .article-wrapper {
    margin: 102px 0;
  }

  .article-list {
    width: calc(((100% - 440px) / 12) * 6 + 200px);
    margin-right: 0;
  }
  .article-list h3 {
    font-size: 2.4rem;
    line-height: 3.2rem;
  }
  .article-list .article-intro {
    margin: 16px 0 32px;
  }
  .article-list li {
    width: 85%;
  }
  .article-list li:not(:first-child):before {
    margin: 32px 0 40px;
  }
}
/**
 * Footer
 */
footer {
  overflow: hidden;
  padding-top: 56px;
  clear: both;
  float: left;
  width: 100%;
}

.footer-wrapper {
  height: 390px;
  position: relative;
  padding-top: 32px;
  box-sizing: border-box;
  width: 100%;
  margin-left: -50%;
}
.footer-wrapper:before {
  content: "";
  background: url(../../assets/media/background-1.svg) no-repeat;
  background-size: auto 100%;
  display: block;
  width: 664px;
  height: 490px;
  position: absolute;
  transform: rotate(180deg);
  top: 0;
  left: 50%;
  margin-left: -418px;
  z-index: -1;
}
.footer-wrapper:after {
  content: "";
  display: none;
  position: absolute;
  background: url(../../assets/media/conco-footer.jpg) no-repeat;
  background-size: contain;
  background-position: bottom;
  height: 50%;
  width: 30vw;
  max-width: 420px;
  z-index: -2;
  left: -40px;
  bottom: 100px;
}
.footer-wrapper .logo {
  margin: 0 auto 24px;
}
.footer-wrapper p {
  text-align: center;
}
.footer-wrapper .title-goodbye {
  font-weight: 700;
  color: #FFF;
}
.footer-wrapper .button-main {
  margin: 24px auto;
  border: none;
  line-height: 5rem;
}
.footer-wrapper .social {
  margin: 24px auto 40px !important;
  text-align: center;
}
.footer-wrapper .menu {
  text-align: center;
  width: 260px;
  margin: 0 auto;
}
.footer-wrapper .menu li {
  display: inline-block;
  margin: 8px;
}

/**
 * Mini Tablet
 */
@media only screen and (min-width: 400px) {
  .footer-wrapper {
    height: 370px;
  }
  .footer-wrapper .menu {
    width: auto;
  }
}
/**
 * Desktop
 */
@media only screen and (min-width: 1024px) {
  footer {
    padding-top: 100px;
  }

  .footer-wrapper {
    height: 540px;
    margin: 0 auto;
    padding-top: 116px;
    width: calc(((100% - 440px) / 12) * 10 + 360px);
    left: 0;
  }
  .footer-wrapper:before {
    width: 922px;
    height: 707px;
    top: 0;
    right: -190px;
    left: auto;
    margin-left: 0;
  }
  .footer-wrapper:after {
    display: block;
  }
  .footer-wrapper > * {
    float: right;
    clear: right;
  }
  .footer-wrapper .logo {
    margin-bottom: 40px;
  }
  .footer-wrapper .button-main {
    margin: 32px 0;
  }
  .footer-wrapper .social {
    margin-top: 32px !important;
  }
}
/**
 * HD
 */
@media only screen and (min-width: 1600px) {
  footer {
    margin-top: 78px;
  }

  .footer-wrapper {
    height: 630px;
    padding-top: 126px;
    width: 100%;
  }
  .footer-wrapper:before {
    width: 1078px;
    height: 826px;
    top: 0;
    right: -230px;
    left: auto;
    margin-left: 0;
  }
  .footer-wrapper:after {
    left: 120px;
  }
  .footer-wrapper .logo {
    width: 40px;
    height: 40px;
    margin-bottom: 48px;
  }
  .footer-wrapper .button-main {
    margin-bottom: 48px;
  }
}
/* Packages */
/*
 *  Owl Carousel - Core
 */
.owl-carousel {
  display: none;
  width: 100%;
  -webkit-tap-highlight-color: transparent;
  /* position relative and z-index fix webkit rendering fonts issue */
  position: relative;
  z-index: 1;
}
.owl-carousel .owl-stage {
  position: relative;
  -ms-touch-action: pan-Y;
  touch-action: manipulation;
  -moz-backface-visibility: hidden;
  /* fix firefox animation glitch */
}
.owl-carousel .owl-stage:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
.owl-carousel .owl-stage-outer {
  position: relative;
  overflow: hidden;
  /* fix for flashing background */
  -webkit-transform: translate3d(0px, 0px, 0px);
}
.owl-carousel .owl-wrapper,
.owl-carousel .owl-item {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
}
.owl-carousel .owl-item {
  position: relative;
  min-height: 1px;
  float: left;
  -webkit-backface-visibility: hidden;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
}
.owl-carousel .owl-item img {
  display: block;
  width: 100%;
}
.owl-carousel .owl-nav.disabled,
.owl-carousel .owl-dots.disabled {
  display: none;
}
.owl-carousel .owl-nav .owl-prev,
.owl-carousel .owl-nav .owl-next,
.owl-carousel .owl-dot {
  cursor: pointer;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.owl-carousel .owl-nav button.owl-prev,
.owl-carousel .owl-nav button.owl-next,
.owl-carousel button.owl-dot {
  background: none;
  color: inherit;
  border: none;
  padding: 0 !important;
  font: inherit;
}
.owl-carousel.owl-loaded {
  display: block;
}
.owl-carousel.owl-loading {
  opacity: 0;
  display: block;
}
.owl-carousel.owl-hidden {
  opacity: 0;
}
.owl-carousel.owl-refresh .owl-item {
  visibility: hidden;
}
.owl-carousel.owl-drag .owl-item {
  touch-action: pan-y;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.owl-carousel.owl-grab {
  cursor: move;
  cursor: grab;
}
.owl-carousel.owl-rtl {
  direction: rtl;
}
.owl-carousel.owl-rtl .owl-item {
  float: right;
}

/* No Js */
.no-js .owl-carousel {
  display: block;
}

/*
 *  Owl Carousel - Animate Plugin
 */
.owl-carousel .animated {
  animation-duration: 1000ms;
  animation-fill-mode: both;
}
.owl-carousel .owl-animated-in {
  z-index: 0;
}
.owl-carousel .owl-animated-out {
  z-index: 1;
}
.owl-carousel .fadeOut {
  animation-name: fadeOut;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
/*
 * 	Owl Carousel - Auto Height Plugin
 */
.owl-height {
  transition: height 500ms ease-in-out;
}

/*
 * 	Owl Carousel - Lazy Load Plugin
 */
.owl-carousel .owl-item {
  /**
  	This is introduced due to a bug in IE11 where lazy loading combined with autoheight plugin causes a wrong
  	calculation of the height of the owl-item that breaks page layouts
   */
}
.owl-carousel .owl-item .owl-lazy {
  opacity: 0;
  transition: opacity 400ms ease;
}
.owl-carousel .owl-item .owl-lazy[src^=""], .owl-carousel .owl-item .owl-lazy:not([src]) {
  max-height: 0;
}
.owl-carousel .owl-item img.owl-lazy {
  transform-style: preserve-3d;
}

/*
 * 	Owl Carousel - Video Plugin
 */
.owl-carousel .owl-video-wrapper {
  position: relative;
  height: 100%;
  background: #000;
}
.owl-carousel .owl-video-play-icon {
  position: absolute;
  height: 80px;
  width: 80px;
  left: 50%;
  top: 50%;
  margin-left: -40px;
  margin-top: -40px;
  background: url("owl.video.play.png") no-repeat;
  cursor: pointer;
  z-index: 1;
  -webkit-backface-visibility: hidden;
  transition: transform 100ms ease;
}
.owl-carousel .owl-video-play-icon:hover {
  transform: scale(1.3, 1.3);
}
.owl-carousel .owl-video-playing .owl-video-tn,
.owl-carousel .owl-video-playing .owl-video-play-icon {
  display: none;
}
.owl-carousel .owl-video-tn {
  opacity: 0;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  transition: opacity 400ms ease;
}
.owl-carousel .owl-video-frame {
  position: relative;
  z-index: 1;
  height: 100%;
  width: 100%;
}

/*
 * 	Default theme - Owl Carousel CSS File
 */
.owl-theme .owl-nav {
  margin-top: 10px;
  text-align: center;
  -webkit-tap-highlight-color: transparent;
}
.owl-theme .owl-nav [class*=owl-] {
  color: #FFF;
  font-size: 14px;
  margin: 5px;
  padding: 4px 7px;
  background: #D6D6D6;
  display: inline-block;
  cursor: pointer;
  border-radius: 3px;
}
.owl-theme .owl-nav [class*=owl-]:hover {
  background: #869791;
  color: #FFF;
  text-decoration: none;
}
.owl-theme .owl-nav .disabled {
  opacity: 0.5;
  cursor: default;
}
.owl-theme .owl-nav.disabled + .owl-dots {
  margin-top: 10px;
}
.owl-theme .owl-dots {
  text-align: center;
  -webkit-tap-highlight-color: transparent;
}
.owl-theme .owl-dots .owl-dot {
  display: inline-block;
  zoom: 1;
  *display: inline;
}
.owl-theme .owl-dots .owl-dot span {
  width: 10px;
  height: 10px;
  margin: 5px 7px;
  background: #D6D6D6;
  display: block;
  -webkit-backface-visibility: visible;
  transition: opacity 200ms ease;
  border-radius: 30px;
}
.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
  background: #869791;
}

/*# sourceMappingURL=style.css.map */
