/**
 * Articles
 */
.featured-article {
    background-color: #FBFBFB;
    box-sizing: border-box;
    margin-bottom: 24px;
    padding: 16px;
    float: left;
}

.article-wrapper {
    margin-top: 24px;
}

article {
    h3 {
        @extend h2;
        text-transform: none;
        letter-spacing: normal;

        &:before {
            display: none;
        }

        a {
            text-decoration: none;
            color: inherit;

            &:hover {
                color: $color-tertiary-3;
            }
        }
    }

    .article-intro {
        margin: 16px 0;
        overflow: hidden;
        height: 7.2rem;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
    }
}

.article-list {
    clear: both;

    h4 {
        a {
            text-decoration: none;
            color: inherit;

            &:hover {
                color: $color-tertiary-3;
            }
        }
    }

    li:not(:first-child):before {
        content: "";
        display: block;
        background-color: red;
        margin: 24px 0;
        height: 1px;
        width: 50%;
    }
}

/**
 * Mini Tablet
 */
@media only screen and (min-width: $query-mini-tablet) {
    .featured-article {
        padding: 24px;
    }
}

/**
 * Tablet
 */
@media only screen and (min-width: $query-tablet) {
    .article-list {
        li:not(:first-child):before {
            width: 25%;
        }
    }

    article {
        .article-intro {
            -webkit-line-clamp: unset;
            height: auto;

        }
    }
}

/**
 * Desktop
 */
@media only screen and (min-width: $query-desktop) {
    .featured-article {
        @include grid(5, $grid-gap);
        @include grid-margin(margin-left, 1);
        left: 0;
        float: left;
    }

    .article-wrapper {
        display: flex;
        margin: 50px 0;
    }

    .article-list {
        float: left;
        @include grid(5, $grid-gap);
    }

    .article-list {
        h3 {
            font-size: 1.6rem;
            line-height: 2.4rem;
            margin-bottom: 0;
        }

        .article-intro {
            margin: 8px 0 24px;
        }

        li:not(:first-child):before {
            margin: 24px 0 32px;
        }
    }
}

/**
 * HD
 */
@media only screen and (min-width: $query-hd) {
    .featured-article {
        margin: 0;
        padding: 48px;
        @include grid(6, $grid-gap);
    }

    .article-wrapper {
        margin: 102px 0;
    }

    .article-list {
        @include grid(6, $grid-gap, 0);
        margin-right: 0;

        h3 {
            font-size: 2.4rem;
            line-height: 3.2rem;
        }

        .article-intro {
            margin: 16px 0 32px;
        }

        li {
            width: 85%;
        }

        li:not(:first-child):before {
            margin: 32px 0 40px;
        }
    }
}
